run = "bundle exec jekyll serve --baseurl=/ --host=0.0.0.0"
hidden = [".bundle"]
entrypoint = "README.md"
modules = ["ruby-3.2"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "Gemfile", "_config"]

[[ports]]
localPort = 4000
externalPort = 80
